.first-section
	position: relative
	&__title
		color: white
		position: absolute
		font-size: 30px
		top: 70%
		left: 20%
	img
		width: 100%
		display: flex
	&__buttons
		position: absolute
		top: 80%
		left: 20%
		transform: translate(-50%)
		.button
			margin-right: 30px
