.footer
	background-color: #212A2F
	color: white
	padding: 60px
	&__top
		display: flex
	&__help
		&-items
			li
				a
					list-style-type: none
					color: white
	&__bottom
		display: flex
		&-flags
			display: flex
