.header
	margin: 40px
	display: flex
	font-family: Roboto
	&__left
		align-items: flex-start
		display: flex
		flex-direction: row
		padding-top: 10px
		li
			list-style-type: none
		a
			padding-right: 40px
			color: black
			text-transform: uppercase
			align-items: flex-start
	&__logo
		// justify-content: center
		// vertical-align: middle
		img
			justify-content: center
			width: 100%
	&__right
		padding-top: 10px

		&-items
			display: flex

			li
				list-style-type: none
			a
				color: black
				text-transform: uppercase
				padding-right: 20px
