.seasons
	margin: 50px 0px 90px 0px
	display: flex
	flex-direction: column
	align-items: center
	&__title
		font-size: 26px
		font-weight: bold
		padding-bottom: 20px
	&__description
		font-size: 16px
	&__buttons
		margin-top: 15px
		button
			margin: 10px
			min-width: 170px

@media (max-width: 1000px)
	.seasons
		margin: 40px 0px 50px 0px

@media (max-width: 760px)
	.seasons
		margin: 40px 0px 60px 0px
		&__title
			font-size: 25px

@media (max-width: 650px)
	.seasons
		&__title
			font-size: 20px
			padding-bottom: 0px
		&__description
			font-size: 14px
		&__buttons
			margin-top: 12px
		button
			margin: 10px
			min-width: 140px

@media (max-width: 524px)
	.seasons
		margin: 40px 0px 40px 0px
		&__title
			font-size: 18px
		&__description
			font-size: 12px
		&__buttons
			margin-top: 11px
		button
			margin: 7px
			min-width: 110px

@media (max-width: 400px)
	.seasons
		margin-top: 20px
		&__title
			font-size: 15px
		&__description
			font-size: 11px
		&__buttons
			margin-top: 10px
		button
			margin: 6px
			min-width: 90px
