.button
	font-size: 16px
	text-transform: uppercase
	background-color: white
	color: black
	border: none
	padding: 10px 18px
	border-radius: 3px
	min-width: 130px
	&-black
		background-color: black
		color: white
	&:hover
		background-color: #212A2F
		color: white
		transition: 0.4s
.button-black
	&:hover
		background: white
		color: #212A2F
		box-shadow: 1px 1px 1px 2px #212A2F
