button
	font-size: 16px
	text-transform: uppercase
	background-color: white
	color: black
	border: none
	border-radius:
	padding: 10px 18px
	border-radius: 3px
	min-width: 130px

@media (max-width: 1030px)
	.button
		padding: 7px 5px
		font-size: 13px

@media (max-width:550px)
	.button
		font-size: 10px
		min-width: 90px
		padding: 4px 5px
